[submodule "lib/freertos"]
	path = lib/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/unity"]
	path = lib/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
